doctype html
html
    head
        title Buscador Pelicula
        link(rel="stylesheet", href="./style/style.css")
    body 
        div
            form#buscador(action="/buscar" method="post")
                label(for="buscador") Introduce el nombre de la pelicula.
                br
                input#laBusqueda(type="text" name="Un buscador")
                input(type="submit" value="Buscar")   